
@font-face {
    font-family: ShareTechMono;
    src: url(../font/ShareTechMono-Regular.ttf);
}
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 100;
    background-color: rgb(247, 247, 247);
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 12px;
    height: 8vh;

}
a {
    text-decoration: none;
    color: rgb(105, 33, 33);
}
main {
    padding: 20px;
    background-color: rgb(253, 253, 250);
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 0px 5px;
    box-sizing: border-box;
    font-size: 10px;
    background-color: lightblue;
    width: 100%;
    height: 8vh;

}
article h1 {
    text-align: center;
}
#nav-menu {
    position:relative;
    top: 10vh;
}
#bio {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    font-size: 12px;
    flex-direction: column;
}
.container {
    width: 100%;
    display: flex;
}
.icon {
    width: 30px;
    height: 30px;
}
.code {
    position: relative;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    left: 30px;
    font-size: 10px;
    width: 70%;
    font-style: italic;
}
.caption {
    font-style: italic;

}
.navigation-bar {
    position: fixed;
    background-color: lightblue;
    height: 100vh;
    width: 40vw;
    top: 0;
    padding-top: 10vh;
    transform: translate3d(-40vw, 0, 0);
    transition-duration: .3s;
}
.nav-link {
    height: 5vh;
    padding-left: 20px;
}
.navigation-bar.visible {
    transform: translate3d(0, 0, 0);
}
.intro {
    text-align: center;

}
.bio-img {
    width: 80px;
    margin: auto;
}
.article-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article-tile {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto auto 10px auto;
    padding: 5px;
    transition-duration: .1s;

}
.article-tile:hover {
    transform: scale(1.01);
}
.article-img {
    max-width: 100%;
    margin: auto;
}
.placeholder-img {
    max-height: 150px;
}
.img-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: auto;

}
@media only screen and (min-width: 768px) {
    header {
        font-size: 20px;
    }
    .icon {
        width: 60px;
        height: 60px;
    }
    main {
        max-width: 50%;
        min-width: 800px;
        margin: auto;
        font-size: 16px;
        line-height: 2;
        box-shadow: 0px 0px 40px lightgray;
        padding: 25px;
        box-sizing: border-box;
    }
    #bio {
        flex-direction: column;
        position: absolute;
        right: 0;
        padding-right: 10px;
        top: 10vh;
        width: 20%;
        height: auto;
    
    }
    .bio-img {
        width: 50%;
        margin: auto;
    }
    .intro {
        font-size: 20px;
    }
    .navigation-bar {
        transform: translate3d(0,-50vh,0);
        width: 20vw;
        height: auto;
        background-color: lightblue;
        top: 0vh;
        border-bottom-right-radius: 20px;
        padding-bottom: 5vh;

    }
    .code {
        font-size: 14px;
    }
    .right-banner, .left-banner {
        display: inline;
        position: fixed;
        background-color: lightblue;
        height: 100vh;
        width: 25%;
    }
    .right-banner {
        right: 0;
    }

}